<div class="topmenu">
  <div class="container">
    <div class="span-24 z_textRight">
            
      <%= link_to "Inloggen", "#" %> 
      <%= link_to 'Registreren', "#" %>
    </div>	
  </div>
</div>